<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[啊哒哒]</string>
		<key>cht</key>
		<string>[啊哒哒]</string>
		<key>png</key>
		<string>adada.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[伐开心]</string>
		<key>cht</key>
		<string>[伐开心]</string>
		<key>png</key>
		<string>bukaixin.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[唱曲儿]</string>
		<key>cht</key>
		<string>[唱曲儿]</string>
		<key>png</key>
		<string>changge.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[不会吧]</string>
		<key>cht</key>
		<string>[不会吧]</string>
		<key>png</key>
		<string>chijing.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[泪奔ing]</string>
		<key>cht</key>
		<string>[泪奔ing]</string>
		<key>png</key>
		<string>daku.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[不要啦]</string>
		<key>cht</key>
		<string>[不要啦]</string>
		<key>png</key>
		<string>duqi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呃呵呵]</string>
		<key>cht</key>
		<string>[呃呵呵]</string>
		<key>png</key>
		<string>ehehe.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[Emm]</string>
		<key>cht</key>
		<string>[Emm]</string>
		<key>png</key>
		<string>em.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[小恶魔]</string>
		<key>cht</key>
		<string>[小恶魔]</string>
		<key>png</key>
		<string>emo.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抛媚眼]</string>
		<key>cht</key>
		<string>[抛媚眼]</string>
		<key>png</key>
		<string>fangdian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[扶额]</string>
		<key>cht</key>
		<string>[扶额]</string>
		<key>png</key>
		<string>fuehan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[苦笑]</string>
		<key>cht</key>
		<string>[苦笑]</string>
		<key>png</key>
		<string>fuexiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哈哈]</string>
		<key>cht</key>
		<string>[哈哈]</string>
		<key>png</key>
		<string>haha.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[笑尿e]</string>
		<key>cht</key>
		<string>[笑尿e]</string>
		<key>png</key>
		<string>hahaha.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[黑线条]</string>
		<key>cht</key>
		<string>[黑线条]</string>
		<key>png</key>
		<string>heixian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哼哼哼]</string>
		<key>cht</key>
		<string>[哼哼哼]</string>
		<key>png</key>
		<string>hengheng.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[捂嘴]</string>
		<key>cht</key>
		<string>[捂嘴]</string>
		<key>png</key>
		<string>hohoho.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊呆]</string>
		<key>cht</key>
		<string>[惊呆]</string>
		<key>png</key>
		<string>jingran.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[震惊]</string>
		<key>cht</key>
		<string>[震惊]</string>
		<key>png</key>
		<string>jingya.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[好囧]</string>
		<key>cht</key>
		<string>[好囧]</string>
		<key>png</key>
		<string>jiong.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[e抗议]</string>
		<key>cht</key>
		<string>[e抗议]</string>
		<key>png</key>
		<string>kangyi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可爱]</string>
		<key>cht</key>
		<string>[可爱]</string>
		<key>png</key>
		<string>keai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吹口哨]</string>
		<key>cht</key>
		<string>[吹口哨]</string>
		<key>png</key>
		<string>koushao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哭泣]</string>
		<key>cht</key>
		<string>[哭泣]</string>
		<key>png</key>
		<string>kuqi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[打招呼]</string>
		<key>cht</key>
		<string>[打招呼]</string>
		<key>png</key>
		<string>laia.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[好凌乱]</string>
		<key>cht</key>
		<string>[好凌乱]</string>
		<key>png</key>
		<string>lingluan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[腹黑]</string>
		<key>cht</key>
		<string>[腹黑]</string>
		<key>png</key>
		<string>niwanle.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[气炸]</string>
		<key>cht</key>
		<string>[气炸]</string>
		<key>png</key>
		<string>nu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[庆祝]</string>
		<key>cht</key>
		<string>[庆祝]</string>
		<key>png</key>
		<string>qingzhu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[卖萌啦]</string>
		<key>cht</key>
		<string>[卖萌啦]</string>
		<key>png</key>
		<string>rouyan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[闪光中]</string>
		<key>cht</key>
		<string>[闪光中]</string>
		<key>png</key>
		<string>shanguang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[生气]</string>
		<key>cht</key>
		<string>[生气]</string>
		<key>png</key>
		<string>shengqi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吗鬼]</string>
		<key>cht</key>
		<string>[吗鬼]</string>
		<key>png</key>
		<string>shenmegui.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[酱紫a]</string>
		<key>cht</key>
		<string>[酱紫a]</string>
		<key>png</key>
		<string>soga.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[偷笑]</string>
		<key>cht</key>
		<string>[偷笑]</string>
		<key>png</key>
		<string>touxiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[无辜d]</string>
		<key>cht</key>
		<string>[无辜d]</string>
		<key>png</key>
		<string>wugu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[捂脸]</string>
		<key>cht</key>
		<string>[捂脸]</string>
		<key>png</key>
		<string>wulian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[无语了]</string>
		<key>cht</key>
		<string>[无语了]</string>
		<key>png</key>
		<string>wuyu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[笑哭]</string>
		<key>cht</key>
		<string>[笑哭]</string>
		<key>png</key>
		<string>xiaozhongdailei.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[喜欢]</string>
		<key>cht</key>
		<string>[喜欢]</string>
		<key>png</key>
		<string>xihuan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[着迷]</string>
		<key>cht</key>
		<string>[着迷]</string>
		<key>png</key>
		<string>zhaomi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[星眼]</string>
		<key>cht</key>
		<string>[星眼]</string>
		<key>png</key>
		<string>xingxing.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[再见]</string>
		<key>cht</key>
		<string>[再见]</string>
		<key>png</key>
		<string>zaijian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吃惊]</string>
		<key>cht</key>
		<string>[吃惊]</string>
		<key>png</key>
		<string>zenmezheyang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
